<h1 class="text-center"> 潤利公司【家庭收視率】 API </h1>

<div id="app" class="container">
    <div id="api-info" class="row">
        <div class="col-sm">
            <div class="alert alert-info" role="alert" hidden>
                需要 API 嗎？<a href="#" target="_blank">連結在這裡！</a>
            </div>
        </div>
    </div>
    <div id="ajax-error" class="row" hidden>
        <div class="col-sm">
            <div class="alert alert-danger" role="alert">
                出錯！
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="input-group">
                <div class="input-group-prepend">
                    <button
                        id="switch-language"
                        type="button"
                        class="btn btn-outline-secondary">
                        En
                    </button>
                </div>
                <input
                    type="text"
                    id="selected-date"
                    class="form-control datepicker-here"
                    data-language="en"
                    data-date-format="yy-mm-dd"
                />
                <div class="input-group-append">
                    <button
                        id="submit-date"
                        class="btn btn-secondary"
                        type="button">
                        Sent
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="response-data" class="row" hidden>
        <div class="col-sm">
            <table class="table">
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>