<h1 class="text-center"> 潤利公司【家庭收視率】 API </h1>

<div id="app" class="container">
    <div class="row">
        <div class="col-sm">
            <div class="input-group" >
                <input
                    type="text"
                    class="form-control datepicker-here"
                />
                <div class="input-group-append">
                    <button
                        id="submit-date"
                        class="btn btn-outline-secondary"
                        type="button">
                        Sent
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>