<h1 class="text-center"> 潤利公司【家庭收視率】 API </h1>

<div id="app" class="container">
    <div class="row">
        <div class="col-sm">
            <div class="input-group">
                <input class="form-control" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                        Sent
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>

<div id="ax"></div>